.technologies-container {
  margin: 8rem 1rem;
}

.technologies-container h6 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}
.tech-icons {
  gap: 1rem;
  margin: 4rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tech-icons img {
  width: 5rem;
  height: auto;
  transition: all 0.3s ease;
}

.tech-icons img:hover {
  transform: translateY(-0.5rem);
}

@media (max-width: 1025px) {
  .tech-icons {
    gap: 0.5rem;
    margin: 2rem 1rem;
  }

  .tech-icons img {
    width: 3rem;
  }
}

@media (max-width: 768px) {
  .technologies-container h6 {
    font-size: 1.3rem;
  }

  .tech-icons img {
    width: 2rem;
  }
}
