.hero-container {
  display: flex;
  align-items: center;
  position: relative;
}

.hero-container::after,
.hero-container::before {
  content: "";
  width: 28.125rem;
  height: 28.125rem;
  border-radius: 28.125rem;
  background-color: #7c66e3;
  position: absolute;
  z-index: -1;
  filter: blur(225px);
}

.hero-container::after {
  top: -3rem;
  left: -5rem;
}

.hero-container::before {
  bottom: 2rem;
  right: 0rem;
}

.hero-content {
  flex: 1;
  margin: 1rem;
}

.hero-container h2 {
  margin-top: 4rem;
  font-size: 1rem;
  color: #a993fe;
}

.hero-content span {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 5rem;
  margin: 0.5rem 0;
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid #a993fe;
  white-space: nowrap;
  margin-right: 5px;
  animation: typing 2s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.hero-content p {
  width: 80%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

.hero-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.hero-img img {
  width: 24rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
  border: 5px solid #6852ba;
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 0 0 30px 0 rgba(104, 82, 186, 0.8);
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.icon {
  width: 18rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.icon img {
  margin: 0.5rem;
}

.icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0.65rem;
  border: 2px solid #6852ba;
}

.icon a:hover {
  background: #a993fe;
}

@media (max-width: 1025px) {
  .hero-container h2 {
    line-height: 0.5;
  }

  .hero-container span {
    font-size: 3rem;
    line-height: 4rem;
  }

  .hero-container p {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
  .hero-img > img {
    margin: 5rem;
    width: 20rem;
  }
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-img {
    margin: 2rem 0 2rem 0;
  }

  .hero-container h2 {
    margin-top: 3rem;
  }

  .hero-container span,
  .hero-content p {
    width: auto;
    text-align: center;
  }

  .hero-container::after,
  .hero-container::before {
    content: " ";
    width: 18rem;
    height: 18rem;
  }

  .hero-container::after {
    top: 0rem;
    left: 0rem;
  }
  .hero-container::before {
    bottom: 2rem;
    right: 0rem;
  }
}

@media (max-width: 600px) {
  .hero-container h2 {
    font-size: 0.8rem;
  }

  .hero-content span {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .hero-content p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .hero-img {
    gap: 1rem;
  }

  .hero-img > div {
    gap: 1rem;
  }

  .hero-img > img {
    width: 16rem;
  }
}
