.project-card-container {
  width: 23rem;
  height: 30rem;
  background: #130f2a;
  border-radius: 0.65rem;
  border: 1.5px solid #6751b9;
  padding: 1.5rem;
  margin: 0 2rem;
}

.project-card-container img {
  margin-bottom: 1.8rem;
  width: 100%;
  height: 10rem;
  max-width: 100%;
  border-radius: 0.65rem;
  border: 2px solid #6751b9;
}

.project-card-container h6 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.project-card-container p {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  position: relative;
}

@media (max-width: 1025px) {
  .project-card-container {
    width: 16rem;
    height: 28rem;
    margin: 0 auto;
  }

  .project-card-container img {
    height: 8rem;
  }

  .project-card-container p {
    font-size: 0.75rem;
    margin-bottom: 0.3rem;
  }
}

@media (max-width: 768px) {
  .project-card-container {
    width: 25rem;
  }

  .project-card-container img {
    width: 25rem;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-card-container h6 {
    font-size: 0.95rem;
  }
}

@media (max-width: 450px) {
  .project-card-container {
    width: 18rem;
  }
}
