.contact-container {
  margin: 4rem 1rem;
  position: relative;
}

.contact-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem auto;
}

.contact-content {
  flex: 1;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.contact-info-card {
  width: 100%;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column-reverse;
  }

  .contact-content {
    grid-gap: 1rem;
  }

  .contact-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
}
